.banner {
  width:1200px;
  height:500px;
}
.bannerLeft {
  width:900px;
  height:500px;
  float: left;
}
.bannerRight {            /*右侧的列表广告*/
  width:300px;
  height:500px;
  float: right;
  overflow: hidden;
  position: relative;
}
.bannerRight>ul {
  width:300px;
  height: 500px;
  position: absolute;
  top:0;
}
.bannerRight>ul li {
  height: 125px;
  width: 300px;
  position: relative;
  border-bottom: 1px #02c455 dotted;
}
.bannerRight>ul li>img {              /*列表图片*/
  height:100%;
}
.bannerRight>ul li>span {
  display: block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  position: absolute;
  right: 10px;
  top: 75px;
  background: rgba(255, 9, 5, 0.6);
  font-size: 16px;
  color: #fff;
}
/*右侧banner列表的动画*/
@keyframes myfirst
{
  from {top: 0px;}
  to {top: -126px;}
}

@-moz-keyframes myfirst /* Firefox */
{
  from {top: 0px;}
  to {top: -126px;}
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
  from {top: 0px;}
  to {top: -126px;}
}

@-o-keyframes myfirst /* Opera */
{
  from {top: 0px;}
  to {top: -126px;}
}
.bannerRight>ul {
  animation: myfirst 1s infinite;
  -moz-animation: myfirst 1s infinite;	/* Firefox */
  -webkit-animation: myfirst 1s infinite;	/* Safari 和 Chrome */
  -o-animation: myfirst 1s infinite;	/* Opera */
}
