<div class="banner">
  <div class="bannerLeft">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="../../assets/img/banner01.jpg"></div>
        <div class="swiper-slide"><img src="../../assets/img/banner02.jpg"></div>
        <div class="swiper-slide"><img src="../../assets/img/banner03.jpg"></div>
        <div class="swiper-slide"><img src="../../assets/img/banner04.jpg"></div>
        <div class="swiper-slide"><img src="../../assets/img/banner05.jpg"></div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <div class="bannerRight"></div>
</div>
