<!-- 水果 -->
<div class="fruit">
  <!-- 标题 -->
  <header>
    <div class="titleLeft">
      <h1>精选水果</h1>
      <span>/&nbsp; 应时而采,新鲜特供 &nbsp;/</span>
    </div>
    <div class="customService">竹叶网客服</div>
  </header>
  <!-- 内容 -->
  <section class="fruitConent">
    <div class="leftAd">
      <img src="../../assets/img/gardenStuff/fruitAd.png" alt="">
    </div>
    <ul>
      <li>
        <a href="javascript:;" >
          <img src="../../assets/img/gardenStuff/fruit.jpg" alt="">
          <p>竹叶果园，当季新鲜甜美大个橙子,酸甜可口，美丽大方。</p>
          <span>￥6.66</span>
          <footer><i class="icon iconfont icon-gouwuche"></i>加入购物车</footer>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <img src="../../assets/img/gardenStuff/fruit.jpg" alt="">
          <p>竹叶果园，当季新鲜甜美大个橙子,酸甜可口，美丽大方。</p>
          <span>￥6.66</span>
          <footer>加入购物车</footer>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <img src="../../assets/img/gardenStuff/fruit.jpg" alt="">
          <p>竹叶果园，当季新鲜甜美大个橙子,酸甜可口，美丽大方。</p>
          <span>￥6.66</span>
          <footer>加入购物车</footer>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <img src="../../assets/img/gardenStuff/fruit.jpg" alt="">
          <p>竹叶果园，当季新鲜甜美大个橙子,酸甜可口，美丽大方。</p>
          <span>￥6.66</span>
          <footer>加入购物车</footer>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <img src="../../assets/img/gardenStuff/fruit.jpg" alt="">
          <p>竹叶果园，当季新鲜甜美大个橙子,酸甜可口，美丽大方。</p>
          <span>￥6.66</span>
          <footer>加入购物车</footer>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <img src="../../assets/img/gardenStuff/fruit.jpg" alt="">
          <p>竹叶果园，当季新鲜甜美大个橙子,酸甜可口，美丽大方。</p>
          <span>￥6.66</span>
          <footer>加入购物车</footer>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <img src="../../assets/img/gardenStuff/fruit.jpg" alt="">
          <p>竹叶果园，当季新鲜甜美大个橙子,酸甜可口，美丽大方。</p>
          <span>￥6.66</span>
          <footer>加入购物车</footer>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <img src="../../assets/img/gardenStuff/fruit.jpg" alt="">
          <p>竹叶果园，当季新鲜甜美大个橙子,酸甜可口，美丽大方。</p>
          <span>￥6.66</span>
          <footer>加入购物车</footer>
        </a>
      </li>
    </ul>
  </section>
</div>
<!-- 蔬菜 -->
<div class="greens">
  <!-- 标题 -->
  <header>
    <div class="titleLeft">
      <h1>精选水果</h1>
      <span>/&nbsp; 应时而采,新鲜特供 &nbsp;/</span>
    </div>
    <div class="customService">竹叶网客服</div>
  </header>
  <!-- 内容 -->
  <section class="fruitConent">
    <div class="leftAd">
      <img src="../../assets/img/gardenStuff/greensAd.png" alt="">
    </div>
    <ul>
      <li>
        <a href="javascript:;" >
          <img src="../../assets/img/gardenStuff/greens.jpg" alt="">
          <p>竹叶果园，当季新鲜甜美大个橙子,酸甜可口，美丽大方。</p>
          <span>￥6.66</span>
          <footer><i class="icon iconfont icon-gouwuche"></i>加入购物车</footer>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <img src="../../assets/img/gardenStuff/greens.jpg" alt="">
          <p>竹叶果园，当季新鲜甜美大个橙子,酸甜可口，美丽大方。</p>
          <span>￥6.66</span>
          <footer>加入购物车</footer>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <img src="../../assets/img/gardenStuff/greens.jpg" alt="">
          <p>竹叶果园，当季新鲜甜美大个橙子,酸甜可口，美丽大方。</p>
          <span>￥6.66</span>
          <footer>加入购物车</footer>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <img src="../../assets/img/gardenStuff/greens.jpg" alt="">
          <p>竹叶果园，当季新鲜甜美大个橙子,酸甜可口，美丽大方。</p>
          <span>￥6.66</span>
          <footer>加入购物车</footer>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <img src="../../assets/img/gardenStuff/greens.jpg" alt="">
          <p>竹叶果园，当季新鲜甜美大个橙子,酸甜可口，美丽大方。</p>
          <span>￥6.66</span>
          <footer>加入购物车</footer>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <img src="../../assets/img/gardenStuff/greens.jpg" alt="">
          <p>竹叶果园，当季新鲜甜美大个橙子,酸甜可口，美丽大方。</p>
          <span>￥6.66</span>
          <footer>加入购物车</footer>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <img src="../../assets/img/gardenStuff/greens.jpg" alt="">
          <p>竹叶果园，当季新鲜甜美大个橙子,酸甜可口，美丽大方。</p>
          <span>￥6.66</span>
          <footer>加入购物车</footer>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <img src="../../assets/img/gardenStuff/greens.jpg" alt="">
          <p>竹叶果园，当季新鲜甜美大个橙子,酸甜可口，美丽大方。</p>
          <span>￥6.66</span>
          <footer>加入购物车</footer>
        </a>
      </li>
    </ul>
  </section>
</div>

