.fruit {                    /* 水果 */
  width: 1200px;
  height: 540px;
}
.fruit>header {
  width: 1200px;
  height: 80px;
}
  .titleLeft {              /* 右侧标题 */
    float: left;
    height: 80px;
    width: 400px;
  }
  .titleLeft>h1 {
    display: inline-block;
    width:160px;
    height: 80px;
  }
  .titleLeft>span {
    display: inline-block;
    height: 25px;
    width: 165px;
    text-align: center;
  }

  .customService {          /* 客服 */
    float: right;
    height: 25px;
    width: 120px;
  }
.fruitConent {                              /* 内容区域 */
  width: 1200px;
  height: 460px;
}
  .fruitConent .leftAd {                      /* 左侧广告 */
    float: left;
    height: 460px;
    width: 400px;
  }
.fruitConent .leftAd>img {
  margin-left: -50px;
}
  .fruitConent>ul {                             /* 右侧内容 */
    float: right;
    width: 800px;
    height: 460px;
  }
    .fruitConent>ul li {
      float: left;
      width: 200px;
      height: 230px;
    }
    .fruitConent>ul li>a {
      display: block;
      position: relative;
      width: 200px;
      height: 230px;
      overflow: hidden;
      padding: 10px;
    }
    .fruitConent>ul li>a>p {
      width: 210px;
      height:20px;
      line-height:20px;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
      color: #666;
    }
    .fruitConent>ul li>a>span {
      display: block;
      width: 210px;
      height:20px;
      line-height:20px;
      text-align: center;
      color: #FE5860;
    }
      .fruitConent>ul li>a>footer {
        width:200px;
        height:60px;
        line-height:60px;
        text-align: center;
        background: #e28886;
        position: absolute;
        bottom: -60px;
        color: #fff;
        font-weight: bold;
        -webkit-transition: bottom 300ms;               /* 动画 */
        -moz-transition: bottom 300ms;
        -ms-transition: bottom 300ms;
        -o-transition: bottom 300ms;
      }
      .fruitConent>ul li>a>footer>i {
        width: 10px;
        height: 10px;
      }
      .fruitConent>ul li>a:hover>footer {
        bottom: 0;
      }
