<section class="agritourisme">
  <div class="atTop">
    <h1>农业旅游<span>/&nbsp;像童年时光一样快乐着&nbsp;/</span></h1>
    <article>
      <span>资讯</span>
      <span>竹叶网农业旅游上线了</span>
      <a href="javascript:;">马上围观&gt;</a>
    </article>
  </div>
  <div class="atBottom">
    <div class="atLeft">
      <h1>VR果园</h1>
      <div class="viewScreen">
        <div class="mv">
          <video src="../../assets/video/yh.mp4" width="360" height="180" controls="controls">
            Your browser does not support the video tag.
          </video>
        </div>
        <p>竹叶网生态园简介</p>
      </div>
    </div>
    <div class="atRight">
      <!-- 左右切换按钮 -->
      <span id="toLeft" class="toLeft" (click)="toLeft()" >&lt;</span>
      <span id="toRight" class="toRight" (click)="toRight()" >&gt;</span>
      <div class="centerBox" style="position: relative;">
        <ul id="box" style="position: absolute;left: 0;">
          <li>
            <img src="../../assets/img/bj01.png" alt="">
            <div class="details">
              <h2>竹叶网生态园</h2>
              <p>今天天气很好，适合去郊外旅游，每一场旅行都是对自己灵魂的一次修养</p>
              <p>地址：河南省商丘市</p>
            </div>
          </li>
          <li>
            <img src="../../assets/img/bj02.png" alt="">
            <div class="details">
              <h2>竹叶网生态园</h2>
              <p>今天天气很好，适合去郊外旅游，每一场旅行都是对自己灵魂的一次修养</p>
              <p>地址：河南省商丘市</p>
            </div>
          </li>
          <li>
            <img src="../../assets/img/bj03.png" alt="">
            <div class="details">
              <h2>竹叶网生态园</h2>
              <p>今天天气很好，适合去郊外旅游，每一场旅行都是对自己灵魂的一次修养</p>
              <p>地址：河南省商丘市</p>
            </div>
          </li>
          <li>
            <img src="../../assets/img/bj01.png" alt="">
            <div class="details">
              <h2>竹叶网生态园</h2>
              <p>今天天气很好，适合去郊外旅游，每一场旅行都是对自己灵魂的一次修养</p>
              <p>地址：河南省商丘市</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
